*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}
.container {
  background-color: brown;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.cabecera {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: pink;
  margin-top: 2vh;
  height: 5vh;
}
